.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex-basis: 100%;
}

.item {
  width: 400px;
  height: 300px;
  margin: 25px;
  border-style: solid;
  border-color: darkgray;
  text-align: center;
}

.item:hover {
    transform: scale(1.1);
    z-index: 100;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
}

.project-header {
    color: 000;
    font-family: 'Montserrat';
    font-size: 20px;
    padding-top: 15px;
}

.main-header {
  text-align: center;
  color: 000;
  font-family: 'Montserrat';
  font-size: 32px;
}

.text {
    color: 000;
    font-family: 'Montserrat';
    font-size: 14px;
    padding: 0 10px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.image {

  height: 100px;
  width: 100%;
}