<!-- <div class="text">
    <h1>Projects</h1>
    <p>List of projects</p>
</div> -->
<div>
    <h1 class="main-header">Projects</h1>
    <div class="container">
        <div *ngFor="let project of projects">
            <a href="{{ project.urlLink }}" target="_blank">
                <div class="grid-row">
                    <div class="grid-item">
                        <h1 class="project-header">{{ project.name }}</h1>
                        <p class="text">{{ project.discription }}</p>
                    </div>
                </div>
             </a>
        </div>
    </div>
</div>