    <!-- app.component.html -->
<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section" (click)="fullpage_api.moveSectionDown()"><app-hero></app-hero></div>
	<div class="section" (click)="fullpage_api.moveSectionDown()"><app-profile></app-profile></div>
	<div ng-repeat="project in projects" class="section projects" >
		<h1>My JourneyS</h1>
		<div class="slide"></div>
		<!-- <div class="slide">Slide 2.2</div>
		<div class="slide">Slide 2.3</div> -->
  </div>
  <div class="section" (click)="fullpage_api.moveSectionDown()"><app-experience></app-experience></div>
  <div class="section" (click)="fullpage_api.moveSectionDown()"><app-projects></app-projects></div>
	<div class="section"><app-contact></app-contact></div>
</div>
