<div class="header-text">
    <h1>Profile</h1>
</div>

<div class="flex-container">
    <div class="propic" data-aos="fade-right">
        <img
            class="propic-image"
            alt="Kyle Routledge"
            src="assets/Kroutledge.PNG"
        />
    </div>
    <div class="profile-content" data-aos="fade-up">
        <p>Kyle is passionate about technology and programming; He enjoys the idea of using
            technology to change the world around us to make our lives easier. Kyle loves the
            challenges that come with solving problems by using coding to build a solution. His
            wanderlust and curiosity drives him to seek out adventure and a desire to travel the
            world to experience many new cultures and ways of living. He likes to live an active
            and healthy lifestyle, working hard towards personal growth and the growth of those
            around him.</p>
    </div>
</div>


