    <h1 class="header">My Skills</h1>
    <div class="row">
        <div class="column">
            <ul class="item">
                <li>Git</li>
                <li>C</li>
                <li>C++</li>
                <li>Java</li>
                <li>HTML, CSS, Javascript</li>
                <li>Angularjs</li>
                <li>Vuejs</li>
                <li>React Native</li>
            </ul>
        </div>
        <div class="column">
            <ul class="item">
                <li>.NET C#</li>
                <li>MS SQL Server</li>
                <li>Trello</li>
                <li>Jira</li>
                <li>Microsoft TFS</li>
                <li>Azure Portal</li>
                <li>Azure Devops</li>
             </ul>
        </div>
    </div>