<div class="text">
    <h1>Experience</h1>
    <p>Previous jobs</p>

    <div>
        <div>
            <h2>IQBUSINESS</h2>
        </div>
        <div>
            <h3>Software Engineer • 07.2019 – Current</h3>
        </div>
        <div>
            <p><b>Responsibilities:</b> Support for in place solutions for external and internal clients.
                Developing internal web applications. Developing new functionality for in place
                solutions.</p>
        </div>
    </div>

    <div>
        <div>
            <h2>TELKOM R&D LABORATORIES</h2>
        </div>
        <div>
            <h3>Software Engineer • 02.2019 – 05.2019</h3>
        </div>
        <div>
            <p><b>Responsibilities:</b> Building internal systems. Consulting clients around the
                projects.
                Designing and implementing solutions.</p>
        </div>
    </div>

    <div>
        <div>
            <h2>FRESH EATS</h2>
        </div>
        <div>
            <h3>Software Engineer • 09.2018 – 01.2019</h3>
        </div>
        <div>
            <p><b>Responsibilities:</b> Business analysis of the SME. Designing of the UX/UI,
                software solution.
                Development in MEVN stack and manage the development team through out the
                engagement.</p>
        </div>
    </div>
    
    <div>
        <div>
            <h2>TELKOM R&D LABORATORIES</h2>
        </div>
        <div>
            <h3>Software Engineer • 02.2018 – 05.2018</h3>
        </div>
        <div>
            <p><b>Responsibilities:</b> Building internal systems. Consulting clients around the
            projects.
            Designing and implementing solutions.</p>
        </div>
    </div>
</div>